/* Start Global Rules  */


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
    --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition:.3s;
  --main-padding-top:100px;
  --main-padding-bottom:100px;
  --section-background:#ececec;
  --main-line-higth:1.5;

}

html{
    scroll-behavior: smooth;
}

body{
      font-family: "Cairo", sans-serif;
}

ul{list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
}

a{
    text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* start media */
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
}

@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}

/* end media */

.main-title{
  
  position: relative;
margin: 0 auto 80px;
width: fit-content;
border: 2px solid black;
font-size: 30px;
padding: 10px 20px;
z-index: 1;
transition: var(--main-transition);
}

.main-title::before{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color-alt);
  border-radius: 50%;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);

}


.main-nav{
display: flex;
}

.main-title::after{
  content: "";
  position: absolute;
    width: 12px;
  height: 12px;
  background-color: var(--main-color-alt);
  border-radius: 50%;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
}

.main-title:hover::before{
  z-index: -1;
  animation: left-move var(--main-transition)  linear forwards ;
}

.main-title:hover::after{
  z-index: -1;
  animation: right-move var(--main-transition)  linear forwards ;
}

.main-title:hover{
  border-color: white;
  color: white;
  /* transition-delay: var(--main-transition); */
}

@keyframes left-move {
  50% {
    height: 12px;
    width: 12px;
    left: 0;
  }
  100%{
    left: 0;
    height: 100%;
    width: 50%;
    border-radius: 0;
  }
}


@keyframes right-move {
  50% {
    height: 12px;
    width: 12px;
    right: 0;
  }
  100%{
    right: 0px;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}

/* End Global Rules  */

/* Start Header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
position: relative;
}

.logo{
color: var(--main-color);
font-size: 32px;
font-weight: bold;
height: 72px;
display: flex;
justify-content: center;
align-items: center;
}


.main-nav > li:hover .mega-menu{
  opacity: 100%;
  z-index: 1;
  top: calc(100% + 2px);
}

.main-nav > li > a {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);

}



.main-nav > li > a::before {
    content: "";
    position: absolute;
    top:0px ;
    right: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    /* overflow: hidden; */
}

.main-nav > li > a:hover{
    font-weight: bolder;
    font-size: 23px;
    color: var(--main-color);
    background-color: rgba(255, 170, 255, 0.171);
}

.main-nav > li > a:hover::before{
left: 0;
}

/* start mega menu */
.header .mega-menu{
position: absolute;
width: 100%;
left: 0;
padding: 20px;
background-color: #fff;
border-bottom: 3px solid var(--main-color);
z-index: -1;
display: flex;
gap: 40px;
top: calc(100% + 50px);
opacity: 0;
transition: top var(--main-transition) , opacity var(--main-transition);
}

.header .mega-menu .links{
flex: 1;
min-width: 250px;
}

.header .mega-menu .links li{
position: relative;
}

.header .mega-menu .links li:not(:last-child){
border-bottom: 1px solid #e9e6e6;
}


.header .mega-menu .links li::before{
content: "";
position: absolute;
left:0;
top:0;
width: 0px;
height: 100%;
background-color: #e0d2d29f;
z-index: -1;
transition: var(--main-transition);
}

.header .mega-menu .links li:hover::before{
width: 100%;
}

.header .mega-menu .links li a{
color: var(--main-color);
display: block;
padding: 15px;
font-size: 18px;
font-weight: bold;
}

.header .mega-menu .links li i{
margin-right: 10px;
}



.img{
  max-width: 100%;
}


/* end mega menu */

/*End Header */

/* start landing */
.landing{
position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

.landing .text h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}

.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

.landing img{
  position: relative;
    width: 600px;
    animation: up-down 3s linear infinite;
    transition: var(--main-transition);
}

@keyframes up-down {
  0% , 100% {
    top :0px;
  }
  50% {
    top:  -50px  ;
  }
}

.go-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
}

.go-down i{
  position: relative;
  animation:  bouncing .8s linear infinite;
}

@keyframes bouncing {
  0%  , 100% {
    top:0;

  }
  50% {
    top: -10px;
  }
}

/* end landing */

/* start articles */
.articles{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
}

.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
  gap: 40px;
  animation: upanddown 1s linear infinite;

}

/* @keyframes upanddown {
 0% , 100% {
  transform: translateY(5px);
}
50%{
  transform: translateY(-2px);

}
} */

.box{
box-shadow: 0 2px 15px rgb(0 0 0 / 29%);
background-color: white;
border-radius: 20px;
overflow: hidden;
transition: var(--main-transition);
transition: transform var(--main-transition) , box-shadow var(var(--main-transition));
cursor: pointer;
}



.box:hover{
  border-radius: 50px;
  transform: translateY(-10px);
  transition: var(--main-transition);
box-shadow: 0 2px 15px rgb(0 0 0 / 39%);
}

.articles .container .box img{
max-width: 100%;
width: 100%;
}

.articles .container .box .content{
padding: 20px;
border-bottom: 2px solid rgba(0, 0, 0, 0.062);
}

.articles .container .box .content h2{
margin: 0;
}

.articles .container .box .content p{
margin: 10px;
/* line-height: 1.5; */
color: #777;
}
.articles .container .box .info{
  margin-left: 10px;
padding: 20px;
width: 100%;
font-weight: bold;
color:var(--main-color);
display: flex;
justify-content: space-evenly;
align-items: center;
}

.articles .container .box .info a{
color: var(--main-color);
font-weight: bold;
}

.articles .container .box .info i{
color: var(--main-color);

}

.articles .container .box .info i{
  animation: icon .7s linear infinite ;
}


@keyframes icon{
 100%{
  transform:translateX(10px);
 }
}
/* end articles */
/* start gallery */
.gallery{
padding-top: var(--main-padding-top);
padding-bottom: var(--main-padding-bottom);
position: relative;
background-color: var(--section-background) ;
}

.gallery  .container{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 40px;
  animation: upanddown 1s linear infinite;
}

.gallery .box{
  background-color: whitesmoke;
  padding: 15px;
box-shadow: 0 2px 15px rgb(0 0 0 / 29%);

}

.gallery .box .image{
position: relative;

}

.gallery .box .image::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  transform: translate(-50% , -50%);
  background-color: rgba(255, 255, 255, 20%);
  opacity: 0;
  overflow: hidden;
  z-index: 2;
}

.gallery .box .image:hover::before{
  animation: flashing .7s;
}

.gallery .box .image:hover img{
  transform: rotate(5deg)  scale(1.1);
}

@keyframes flashing{
  0%,40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 120%;
    height: 120%;

  }
}

.gallery .box img{
  max-width: 100%;
  border-radius: 20px;
  transition: var(--main-transition);
  overflow: hidden;

  
}
/* end gallery */
/* start features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box {
  text-align: center;
  border: 1px solid #ccc;
}
.features .box .img-holder {
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box .img-holder img {
  max-width: 100%;
}
.features .box:hover .img-holder::after {
  border-width: 170px 500px 170px 0;
}
.features .box h2 {
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  height: 5px;
  width: calc(100% - 30px);
}
.features .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
}
.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding: 10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
}
.features .quality .img-holder::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after {
  background-color: #f44036;
}
.features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after {
  background-color: #009688;
}
.features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .passion h2::after {
  background-color: #03a9f4;
}
.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* end features */
/* start testimonials */
#testimonials{
   padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}

#testimonials .container{
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  overflow: visible;
}

.testimonials .box img {
position: absolute;
top: -50px;
right: -10px;
width: 100px;
border-radius: 50px;
border:10px solid var(--section-background) ;
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box .title {
  color: #777;
  margin-bottom: 10px;
  display: block;
}
.testimonials .box .rate .filled {
  color: #ffc107;
}
.testimonials .box p {
  margin-top: 10px ;
 line-height: var(--main-line-higth);
}

/* end testimonials */
/* start team members */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box2 {
  position: relative;
  width: 370px;
  /* overflow: hidden; */
}

.team .box2::before,
.team .box2::after{
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  top: 0;
  right: 0px;
  height: 100%;
  width: 80%;
  z-index: -2;
  transition: var(--main-transition);
  border-radius: 40px;
}

.team .box2::after{
  position: absolute;
  z-index: -1;
  background-color: #e4e4e4;
  width: 0px;
}

.team .box2:hover::after{
  position: absolute;
width: 80%;
}

.team .box2 .data{
display: flex;
align-items: center;
padding-top: 60px;
}

.team .box2 img{
  transition: var(--main-transition);
  width: 90%;
  border-radius: 20px;
}

.team .box2:hover img{
  filter: grayscale(100%);
}

.team .box2 .data .social{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100px;
gap: 20px;
}

.team .box2 .data .social a{
  position: relative;
display: flex;
justify-content: center;
align-items: center;
height: 30px;
width: 20px;
padding: 10px;
/* width: 60px; */
}

.team .box2 .data .social a:hover i{
  color: var(--main-color);
}

.team .box2 .data .social i{
color: #777;
transition: var(--main-transition);

}

.team .box2 .info{
padding-left: 90px;
}

.team .box2 .info h3 {
  color: var(--main-color);
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
transition: var(--main-transition);

}

.team .box2:hover h3{
  color: #777;
}

.team .box2 .info p{
  margin-top: 10px;
  margin-bottom: 25px;
}


/* end team members */













