/* Start Global Rules  */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
    --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition:.3s
}

html{
    scroll-behavior: smooth;
}

body{
      font-family: "Cairo", sans-serif;
}

ul{list-style: none;
text-decoration: none;
margin: 0;
padding: 0;
}

a{
    text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules  */

/* Start Header */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

.header .container {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
position: relative;
}

.logo{
color: var(--main-color);
font-size: 26px;
font-weight: bold;
height: 72px;
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.main-nav{
display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.main-nav > li > a {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  overflow: hidden;
  font-size: 18px;
  transition: var(--main-transition);

}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}

.main-nav > li > a::before {
    content: "";
    position: absolute;
    top:0px ;
    right: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    /* overflow: hidden; */
}

.main-nav > li > a:hover{
    font-weight: bolder;
    font-size: 23px;
    color: var(--main-color);
    background-color: rgba(255, 170, 255, 0.171);
}

.main-nav > li > a:hover::before{
left: 0;
}
/*End Header */

/* start landing */
.landing{
position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

.landing .text p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

.landing img{
    width: 600px;
}

.go-down{
    position: absolute;
    left: 50%;
    bottom: 30px;
}

/* end landing */












